src/main/app/box-to-netsuite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:box="http://www.mulesoft.org/schema/mule/box" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/box http://www.mulesoft.org/schema/mule/box/2.0/mule-box.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/1.0/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/3.0/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd">
    <box:config name="Box" clientId="${box.clientId}" clientSecret="${box.clientSecret}" doc:name="Box">
        <box:oauth-callback-config domain="${fullDomain}" localPort="${http.port}" remotePort="${remote.port}" path="callback"/>
    </box:config>
    <objectstore:config name="ObjectStore" objectStore-ref="_defaultInMemoryObjectStore" doc:name="ObjectStore"/>
    <netsuite:config name="Netsuite" email="${ns.email}" password="${ns.pswd}" account="${ns.acct}" roleId="${ns.role}" doc:name="Netsuite">
        <netsuite:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </netsuite:config>
    <data-mapper:config name="test_grf" transformationGraphPath="test.grf" doc:name="DataMapper"/>
    <data-mapper:config name="csvtomap_grf" transformationGraphPath="csvtomap.grf" doc:name="DataMapper"/>
    <data-mapper:config name="x_grf" transformationGraphPath="x.grf" doc:name="DataMapper"/>
    <flow name="authorize" doc:name="authorize">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="auth" doc:name="HTTP"/>
        <tracking:custom-event event-name="STARTING OAUTH AUTH CYCLE" doc:name="Custom Business Event">
            <tracking:meta-data key="CH domain for this App" value="${fullDomain}"/>
        </tracking:custom-event>
        <box:authorize config-ref="Box" doc:name="Box"/>
        <tracking:custom-event event-name="COMPLETED OAUTH CYCLE" doc:name="Custom Business event"/>
    </flow>
    <flow name="getFolder" doc:name="getFolder">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="boxfolder" doc:name="HTTP"/>
        <box:get-folder config-ref="Box" accessTokenId="${box.accessTokenID}" doc:name="Box" folderId="#[message.inboundProperties['folder-id']]"/>
        <json:object-to-json-transformer doc:name="Format Box Response"/>
    </flow>
    <flow name="download" doc:name="download">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="boxdownload" doc:name="HTTP"/>
        <logger message="DOWNLOADING FOLDER WITH ID : #[message.inboundProperties['doc-id']]" level="INFO" doc:name="Logger"/>
        <box:download config-ref="Box"  doc:name="Box" fileId="#[message.inboundProperties['doc-id']]"/>
        <object-to-string-transformer encoding="US-ASCII" mimeType="text/plain" doc:name="Stream to File"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <flow-ref name="postToNetSuite" doc:name="Post File To NS"/>
        <json:object-to-json-transformer doc:name="Format NS Response"/>
    </flow>
   
    <flow name="testNSMapping" doc:name="testNSMapping">
        <file:inbound-endpoint path="src/main/resources/input" moveToDirectory="src/main/resources/output" pollingFrequency="5000" responseTimeout="10000" doc:name="File" tracking:enable-default-events="true"/>
        <logger message="Consumed new file" level="INFO" doc:name="Logger"/>
        <flow-ref name="postToNetSuite" doc:name="Post File to NS"/>
    </flow>
    <sub-flow name="postToNetSuite" doc:name="postToNetSuite">
        <data-mapper:transform config-ref="csvtomap_grf" doc:name="DataMapper"/>
        <foreach doc:name="For Each">
            <logger message="NEXT ACCT NAME : #[payload.name]" level="INFO" doc:name="Logger"/>
            <tracking:custom-event event-name="PROCESSING NEXT ACCT NAME : #[payload.name]" doc:name="Custom Business event"/>
            <enricher target="#[variable:existingAcct]" doc:name="Message Enricher">
                <netsuite:find-first-record config-ref="Netsuite" recordType="ACCOUNT" expression="is(name, '#[payload.name]')" doc:name="Netsuite"/>
            </enricher>
            <logger message="EXISTING ACCT NULL? #[existingAcct is NullPayload]" level="INFO" doc:name="Logger"/>
            <tracking:custom-event event-name="FILTERING OUT EXISTING ACCOUNT..." doc:name="Custom Business event">
                <tracking:meta-data key="ACCT NAME" value="#[payload.name]"/>
            </tracking:custom-event>
            <expression-filter expression="#[existingAcct is NullPayload]" doc:name="Filter Out Existing Accounts"/>
            <tracking:custom-event event-name="ACCOUNT NEEDS TO BE CREATED" doc:name="Custom Business event">
                <tracking:meta-data key="ACCT NAME" value="#[payload.name]"/>
            </tracking:custom-event>
            <logger message="CREATE NEW RECORD..." level="INFO" doc:name="Logger"/>
            <data-mapper:transform config-ref="x_grf" doc:name="DataMapper"/>
            <netsuite:add-record config-ref="Netsuite" recordType="ACCOUNT" doc:name="Netsuite"/>
            <json:object-to-json-transformer doc:name="Format Response"/>
            <tracking:custom-event event-name="RESPONSE FROM NETSUITE" doc:name="Custom Business event">
                <tracking:meta-data key="RESPONSE" value="#[payload]"/>
            </tracking:custom-event>
            <logger message="ACCT CREATE RESPONSE : #[payload]" level="INFO" doc:name="Logger"/>
        </foreach>
    </sub-flow>
</mule>

